@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  color: #4d4d4d;
  font-family: "Roboto", sans-serif;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main .button {
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  border-radius: 6rem;
  width: 6rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .button .btn {
  font-size: 6rem;
  cursor: pointer;
  color: #0048b4;
}

#main .button .btn .fa-plus {
  pointer-events: none;
}

.modal {
  background-color: #fff;
  border-radius: 2.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 54rem;
  max-width: 80%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal > * {
  margin: 0 1rem;
}

.modal .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .form .title {
  border: 1px solid #0048b4;
  padding: 0.188rem;
  border-radius: 0.188rem;
  margin-bottom: 1.5rem;
}

.modal .form .title input {
  border: none;
  outline: none;
}

.modal .form .card-no {
  border: 1px solid #0048b4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem;
}

.modal .form .heading {
  margin-top: 1rem;
}

.modal .form .text-area {
  outline: none;
  border: 1px solid #0048b4;
  padding: 0.25rem;
}

.modal .form form > * {
  margin: 0.25rem 0;
}

.modal .line {
  width: 0.25rem;
  background-color: #0048b4;
  height: 15rem;
}

.modal .display-data-container {
  width: 28.5rem;
  height: 15.5rem;
  padding: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
}

.modal .display-data-container .display-data {
  border: 1px solid black;
  border-radius: 0.5rem;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.modal .display-data-container .display-data .l-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .display-data-container .display-data .l-part #one {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}

.modal .display-data-container .display-data .l-part #two {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
}

.modal .display-data-container .display-data .l-part #three {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: #0048b4;
  margin-top: 1rem;
}

.modal .display-data-container .display-data .line2 {
  width: 0.25rem;
  background-color: #0048b4;
  height: 7.5rem;
}

.modal .display-data-container .display-data .r-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
  height: 8rem;
  max-width: 14rem;
}

.modal .display-data-container .display-data .r-part #display-input-title {
  text-align: center;
}

.modal .display-data-container .display-data .r-part #display-input-description {
  text-align: center;
  font-size: 0.75rem;
}

.modal .display-data-container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal .display-data-container .buttons #publish {
  border: 1px solid #0048b4;
  border-radius: 0.25rem;
  background-color: #0048b4;
  padding: 0.5rem 1rem;
  color: white;
  margin: 1rem 0.5rem 0rem 0.5rem;
  cursor: pointer;
}

.modal .display-data-container .buttons #cancel {
  border: 1px solid #0048b4;
  border-radius: 0.25rem;
  background-color: white;
  padding: 0.5rem 1rem;
  color: #0048b4;
  margin: 1rem 0.5rem 0rem 0.5rem;
  cursor: pointer;
}

.modal .display-data-container .buttons > * {
  margin-top: 2rem;
}

.modal .cross {
  font-size: 2.6rem;
  color: #0048b4;
  background: none;
  border: none;
  cursor: pointer;
}

.modal .cross span {
  font-size: 3rem;
  font-weight: 700;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease-in-out, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease-in-out;
  transition: transform 0.3s ease, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease;
}

.modal .cross span:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: #0048b4;
  border-radius: 50%;
  color: white;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.5);
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/*# sourceMappingURL=style.css.map */