@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
// variables
$primarycolor: #0048b4;
$textcolor: #4d4d4d;
$fontWeights: (
  "regular": 400,
  "medium": 600,
  "bold": 900,
);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  background-color: white;
  color: $textcolor;
}

#main {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;

  & .button {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    background-color: $primarycolor;
    border-radius: 6rem;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;

    & .btn {
      padding: 1rem;
      border: none;
      background: none;
      color: white;
      font-size: 3rem;

      .fa-plus {
        pointer-events: none;
      }
    }
  }
  .cont-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    border: 2px solid black;
    border-radius: 0.5rem;

    & .line {
      background-color: $primarycolor;
      width: 0.125rem;
      height: 6rem;
      margin: 0.75rem;
    }

    & .cross-icon {
      margin: 0.75rem;
    }
  }

  & .data {
    margin: 0.75rem;
    // .title-input::before {
    //   content: "Title";
    // }
    .title-input {
      margin: 0.75rem;
    }
  }
}
